.example-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
